<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kilogramm.mattermost">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MattermostApp"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name=".service.websocket.NetworkStateReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".view.authorization.ForgotPasswordActivity"
            android:windowSoftInputMode="adjustResize|stateVisible" />

        <activity
            android:name=".view.ImageViewerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />

        <!--RX activity-->
        <activity
            android:name=".rxtest.MainRxAcivity"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".rxtest.LoginRxActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateVisible" />

        <activity
            android:name=".view.settings.NotificationActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".view.authorization.ChooseTeamActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".rxtest.GeneralRxActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.direct.WholeDirectListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.search.SearchMessageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateVisible"/>

        <activity android:name=".rxtest.InviteUserRxActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".rxtest.ProfileRxActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".rxtest.EditProfileRxActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"/>

        <activity
            android:name=".view.addchat.AddExistingChannelsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.nononsenseapps.filepicker.FilePickerActivity"
            android:label="@string/app_name"
            android:theme="@style/FilePickerTheme">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name=".service.MattermostService" />

        <meta-data
            android:name="com.kilogramm.mattermost.network.glide.UnsafeOkHttpGlideModule"
            android:value="GlideModule" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="1373df4a388cbef38f2feb69c126b74abc82a69e" />

    </application>

</manifest>