<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kilogramm.mattermost">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:hardwareAccelerated="true"
        android:name=".MattermostApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name="com.kilogramm.mattermost.network.websocket.NetworkStateReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <activity
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:name=".view.authorization.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.authorization.LoginActivity"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.authorization.ForgotPasswordActivity"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.menu.MenuActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.ImageViewerActivity"
            android:theme="@style/Transparent"
            android:screenOrientation="portrait"/>
        <meta-data
            android:name="com.kilogramm.mattermost.network.glide.UnsafeOkHttpGlideModule"
            android:value="GlideModule" />

    </application>

</manifest>